---
---

@import "{{ site.theme }}";

.my-nav ul {
    padding: 10px 0px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.my-nav li {
    list-style-type: none;
    flex: 1 1 auto;
}

.about-main {
    display: flex;
}

.about-main div {
    padding: 10px 20px;
}

.image-caption {
    text-align: center;
    font-size: .9rem;
    color: dark-grey;
}

blockquote > p > cite {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: .8em;
}
