<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000">

    <title>
      {{ site.title }}
      {% if page.title %}
        : {{ page.title }}
      {% endif %}
    </title>

    {% feed_meta %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <nav class="my-nav">
          <ul>
            <li><a href="{{ site.url }}">Blog</a></li>
            <li><a href="{{ site.url }}/datenschutz.html">Datenschutzerklärung</a></li>
            <li><a href="{{ site.url }}/impressum.html">Impressum</a></li>
            <li><a href="{{ site.url }}/atom.xml">Feed</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  </body>
</html>
