---
layout: default
---

<small>
  {{ page.date | date: "%d. %B %Y" | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace: "October","Oktober" | replace:"December","Dezember" }}
  {% if page.last_updated %}
    , zuletzt geändert am
    <strong>
      {{ page.last_updated | date: "%d. %B %Y" | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace: "October","Oktober" | replace:"December","Dezember" }}
    </strong>
  {% endif %}
</small>

<h1>{{ page.title }}</h1>

<p class="view">von <strong>{{ page.author | default: site.author }}</strong></p>

{{content}}

